body {
    background-color: #161616;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #FEFEC0;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    color: #FEFEC0;
    font-size: 1.5em;
    margin-top: 0;
  }
  
  a {
    color: #C8E7EC;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .logo {
    width: 400px;
    height: auto;
  }
  
  /* Media query for smaller screens and portrait mode */
  @media screen and (max-width: 767px), screen and (orientation: portrait) {
    .logo {
      width: 100px;
    }
  }
  